In [19]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt, seaborn as sns

from IPython.display import display

%matplotlib inline

In [20]:
diamonds = pd.read_csv('./diamonds.csv')

In [38]:
diamonds.drop(columns = ['Unnamed: 0','x','y','z'],inplace = True)

In [39]:
diamonds.head(2)

   carat  cut  color  clarity  depth  table  price
0   0.23    1      2        7   61.5   55.0    326
1   0.21    2      2        6   59.8   61.0    326

In [40]:
diamonds.describe().T

,count,mean,std,min,25%,50%,75%,max
carat,53940.0,0.797940,0.474011,0.2,0.4,0.7,1.04,5.01
cut,53940.0,2.095903,1.116600,1.0,1.0,2.0,3.00,5.00
color,53940.0,3.594197,1.701105,1.0,2.0,4.0,5.00,7.00
clarity,53940.0,4.948980,1.647136,1.0,4.0,5.0,6.00,8.00
depth,53940.0,61.749405,1.432621,43.0,61.0,61.8,62.50,79.00
table,53940.0,57.457184,2.234491,43.0,56.0,57.0,59.00,95.00
price,53940.0,3932.799722,3989.439738,326.0,950.0,2401.0,5324.25,18823.00

In [23]:
diamonds['cut'].value_counts()

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

In [24]:
diamonds['color'].value_counts()

G    11292
E     9797
F     9542
H     8304
D     6775
I     5422
J     2808
Name: color, dtype: int64

In [25]:
diamonds['clarity'].value_counts()

SI1     13065
VS2     12258
SI2      9194
VS1      8171
VVS2     5066
VVS1     3655
IF       1790
I1        741
Name: clarity, dtype: int64

In [26]:
diamond_cut_mapping = {'Ideal':1,'Premium':2,'Very Good':3,'Good':4,'Fair':5}

In [27]:
diamond_color_map = {
    'D':1,
    'E':2,
    'F':3,
    'G':4,
    'H':5,
    'I':6,
    'J':7
    }

In [28]:
diamond_clarity_map = {
    'IF':1,
    'VVS1':2,
    'VVS2':3,
    'VS1':4,
    'VS2':5,
    'SI1':6,
    'SI2':7,
    'I1':8
}

In [29]:
diamonds['cut'] = diamonds['cut'].replace(diamond_cut_mapping)
diamonds['color'] = diamonds['color'].replace(diamond_color_map)
diamonds['clarity'] = diamonds['clarity'].replace(diamond_clarity_map)

In [41]:
sim_diamonds = cosine_similarity(diamonds,diamonds)

In [33]:
sim_diamonds

array([[1.        , 0.99982178, 0.99940023, ..., 0.97638136, 0.97618967,
        0.97609346],
       [0.99982178, 1.        , 0.99985956, ..., 0.97459488, 0.97439172,
        0.97427316],
       [0.99940023, 0.99985956, 1.        , ..., 0.974137  , 0.97392757,
        0.97379063],
       ...,
       [0.97638136, 0.97459488, 0.974137  , ..., 1.        , 0.99999831,
        0.999998  ],
       [0.97618967, 0.97439172, 0.97392757, ..., 0.99999831, 1.        ,
        0.99999818],
       [0.97609346, 0.97427316, 0.97379063, ..., 0.999998  , 0.99999818,
        1.        ]])

### Instead of trying consine sim let's try KNN for lazy recommender but item based?

#### will need to first pivot diamonds table and do some aggregations on different segmentation levels...

In [43]:
from sklearn.neighbors import NearestNeighbors

knn = NearestNeighbors(metric='cosine',algorithm='brute',n_neighbors=20,n_jobs=-1)